@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pattaya', sans-serif;
    max-width: 100%;
}
html{
    scroll-behavior:smooth;
}
.navbar{
    position: fixed;
    width: 100%;
}
.navbar ul{
    height: 62.5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    list-style-type: none;
    background-color: black;
}
.navbar-section a{
   text-decoration: none;
   color: white;
   padding: 10px;
   font-size: 30px;
}
 .navbar-section a:hover{
    transition: ease 0.7s;
    color: black;
    background-color: white;
}
.banner{
    line-height: 0;
}
.row-1{
    text-align: center;
    background-color: black;
    padding-bottom: 50px;
}
.row-1 h1{
    color: white;
    font-size: 100px;
    padding: 50px 0;
}
.fb-feed{
    padding-bottom: 50px;
}
.row-1 iframe{
    border: solid 10px rgb(66 103 178);
    border-radius: 20px;
}
.row-1 ul a{
    list-style-type: none;
    text-decoration: none;
    background-color:rgb(66 103 178);
    color: white;
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    border: solid 10px rgb(66 103 178);
}
.row-1 ul a:hover{
    transition: ease-in 0.3s;
    border-color: white;
    opacity: 1;
}
.row-2{
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 100px;
}
.row-2 h1{
    padding: 50px 0;
    font-size: 100px;
}
.row-2 a{
    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-bottom: 50px;
}
.row-3{
    text-align: center;
    background-color: black; 
}
.row-3 h1{
    padding: 50px 0;
    color: white;
    font-family: 'Pattaya', sans-serif;
    font-size: 100px;
}
.row-3 img, .row-3 iframe{
    border: solid 10px rgb(30 215 96);
    border-radius: 10px;
}
.row-3 ul{
    padding: 50px;
}
.row-3 ul a{
    list-style-type: none;
    text-decoration: none;
    background-color:rgb(30 215 96);
    color: black;
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    border: solid 10px rgb(30 215 96);
}
.row-3 ul a:hover{
    transition: ease-in 0.3s;
    border-color: white;
    opacity: 1;
}
.row-4{
    text-align: center;
    padding-bottom: 50px;
}
.row-4 h1{
    padding: 50px 0;
    font-size: 100px;
}
.row-4 iframe{
    border: solid 10px rgb(255 0 0);
    border-radius: 50px;
}
.row-5{
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 100px;
}
.row-5 h1{
    padding: 50px 0;
    font-size: 100px;
}
.row-5 h5{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}
.row-5 sup{
    font-family: 'Bangers', cursive;
    font-size: 20px;
}
.row-6{
    text-align: center;
    padding-bottom:100px;
}
.row-6 h1{
    padding: 50px 0;
    font-size: 100px;
}
.row-6 p{
    padding: 0 300px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

footer{
    text-align: center;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
}
footer h1{
    padding: 50px 0;
    font-size: 100px;
}
.email{
    text-decoration: none;
    color: rgb(241, 237, 237);
}
.socials{
    padding-top: 10px;
}
.facebook, .instagram{
    background-color: white;
    border-radius: 35px;
    border: 2px black solid;
}
@media all and (max-width: 700px){
    .navbar ul, .navbar a{
        background-color: transparent;
        color: transparent;
    }
    .row-1, .row-1 h1{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .row-1 ul a{
        font-size: 10px;
        padding: 0;
    }
    .row-2, .row-2 h1{
        font-size: 50px;
        padding: 0;
    }
    .row-2 a{
        font-size: 15px;
        
    }
    .row-3, .row-3 h1{
        font-size: 50px;
        padding: 0;
    }
    .row-3 ul a{
        font-size: 10px;
        padding: 0;
    }
    .row-3 img{
        width: 300px;
        height: 300px;
    }
    .row-3 iframe{
        width: 350px;
        height: 400px;
    }
    .row-4 h1{
        font-size: 50px;
        padding 0;
    }
    .row-5 h1{
        font-size: 50px;
        padding: 0;
    }
    .row-5 h5{
        font-size: 20px;
        padding-top: 20px;
    }
    .row-6 h1{
        font-size: 50px;
        padding: 0;
    }
    .row-6 p{
        font-size: 20px;
    }
    footer h1{
        font-size: 50px;
    }
}
